<?php // Look for the words XXX to see what you must change// Days asigned to each leveldefine("LEVEL0",   0);define("LEVEL1",   1);define("LEVEL2",   3);define("LEVEL3",   7);define("LEVEL4",  14);define("LEVEL5",  30);define("LEVEL6",  60);define("LEVEL7", 120);define("LEVEL8", 240);define("LEVEL9", 480);// Database configurationdefine("DB_HOST",XXX);define("DB_USER",XXX);define("DB_PASS",XXX);define("DB_NAME",XXX);// External programsdefine("MYSQLDUMP","/usr/bin/mysqldump");define("GZIP","/usr/bin/gzip");// Program routesdefine('HOMESITE', 'http://localhost/XXX/');define('LOCALDIR', 'XXX');    ?>